doctype html
html
  head
    title Farhan Dance Academy
    block scripts
    block style 
      
  body
     nav#navbar.top 
            ul 
                div#logo 
                    img(src="/static/img/logo.png")
                    | FDA
                li #[a(href="/")  Home] 
                li #[a(href="/")  About]  
                li #[a(href="/")  Services] 
                li #[a(href="/")  Help]  
                li #[a(href="/contact")  Contact] 


block content

footer#footer 
    |  Copyrigth 2024 FarhanDanceAcademy.com | All rights Reserved        
    