h1{
    text-align: center;
    color: red;
}


/* .myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} */
.myInput{
    display: block;
    width: 40%;
    padding: 10px;
    margin-left: 350px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
.btn{
    border-radius: 20px;
    font-size: large;
    border: 2px solid black;
    width: 200px;
    margin-left: 450px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
}